.center{ 
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.center div {
    width: 200px;
    text-align: center;
    border: 2px solid #000;
    padding: 50px;
}